.Square {
    background-color: rgb(40, 44, 44);
    width: 160px;
    height: 160px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

}

.player1 {
    color: rgb(245, 78, 209);
}

.transparent {
    color: transparent;
}

.player2 {
    color: rgb(0, 238, 255);
}